Open the dataset

In [3]:
import pandas as pd 
#file="C:\\Users\\Dell\\OneDrive\\Desktop\\TextBasedAnalysis\\Arts_Crafts_and_Sewing_5.json"
df = pd.read_json( "C:\Users\\mchow\\Downloads\\Arts_Crafts_and_Sewing_5.json",lines=True)
df.sample(10)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
39679,5,False,"01 28, 2018",ATSCOODQ0YGUV,B000V1VDI6,"{'Color:': ' White', 'Style Name:': ' Permanent'}",Jody Highsmith,Works very well.,Five Stars,1517097600,NaN,NaN
106781,4,True,"03 11, 2013",A15SJZ4T6Q25VE,B000YZ8PE4,{'Color:': ' Original Version'},New Quilter,They run a bit large and will slip off your fi...,Great item,1362960000,NaN,NaN
314352,5,True,"08 31, 2015",A1YHLLKALKZABW,B00FP8CG04,NaN,Martina Carlson,love the daintiness of the cut,Five Stars,1440979200,NaN,NaN
176803,3,True,"04 1, 2017",A3RTWDZDKK3IGZ,B0028U2II2,NaN,J. Casady,Fabric didn't stick to this as much as I expec...,Three Stars,1491004800,NaN,NaN
375530,5,True,"12 30, 2014",A1FIDLYY8JFA7I,B00WZ6N1QW,NaN,watercat,"This wax melts really well, quickly and smooth...",Five Stars,1419897600,NaN,NaN
16162,5,True,"02 3, 2015",A5LMMNTZHKG2C,B000B7Q9KM,{'Color:': ' Tan'},Kindle Customer,"excellent dye - nice, vivid color",vivid color,1422921600,NaN,NaN
444355,5,True,"09 8, 2016",A2MCORDW8LX4OV,B0054G66TY,NaN,Jacquelyn Huff,Just great for crafting,Five Stars,1473292800,NaN,NaN
144088,5,True,"06 26, 2017",A2XV0PPAY47TYO,B001DKJLEC,NaN,J. Yacola,Well made and works well.,Great!,1498435200,NaN,NaN
471431,5,True,"02 19, 2017",A3OPZ8HZ2WKY7E,B00II58L8W,NaN,Diana,"As advertised, cute pattern. A good addition t...",Love it!,1487462400,NaN,NaN
446168,5,True,"04 6, 2018",ACSA4CBJMEE4O,B005IW5YN8,NaN,Michael Chance,Very sharp. Fits the hand well. A quality prod...,As advertised,1522972800,NaN,NaN

In [4]:
from sklearn import preprocessing
import nltk
nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize

print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
      opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
      opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\opinion_lexicon.zip.

In [5]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
df.rename(columns={"reviewText": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}
 
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
        word_dict[word] = pos_score
      
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
        word_dict[word] = neg_score

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [7]:
def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return sentiment_score

In [10]:
df['text'].fillna('no review', inplace=True)
df['Bing_Liu_Score'] = df['text'].apply(bing_liu_score)

C:\Users\Dell\AppData\Local\Temp\ipykernel_14572\3791062060.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['text'].fillna('no review', inplace=True)

In [11]:
df[['overall',"text", 'Bing_Liu_Score']].head(10)

   overall                                               text  Bing_Liu_Score
0        4                Contains some interesting stitches.               1
1        5  I'm a fairly experienced knitter of the one-co...              22
2        4  Great book but the index is terrible. Had to w...               0
3        5  I purchased the Kindle edition which is incred...               4
4        5  Very well laid out and very easy to read.\n\nT...               5
5        5  Beginning her career as a freelance knitter, M...              15
6        5  This is a terrific stitch handbook (and I have...               9
7        4  The book needs to be coil bound. The content i...               1
8        5  I really am enjoying this book! I like the siz...              12
9        5  Just received this book and looked over it cov...               6

In [12]:
df.groupby('overall').agg({'Bing_Liu_Score':'mean'})

         Bing_Liu_Score
overall
1             -0.255049
2              0.566098
3              1.158796
4              2.028146
5              2.130005